<%= render "navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_url('bar.jpg') %>);">
  <div class="container">
    <h1>Mister Cocktail</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<!-- below is the image tag for cloudinary images -->
<%#= cl_image_tag("x2ni57j4hnc2sfjoqye8",
      width: 400, height: 300, crop: :fill) %>

<!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= image_url('whiskey.jpg') %>)"> -->

<!-- <h1 style="text-align: center; padding-top: 8px;">Cocktails</h1> -->

<div class="cards">
  <% @results.each do |r| %>
    <!-- <li><%#= link_to c.name, cocktail_path(c) %></li> -->
    <div class="card-category">
      <div class="card-image" style="background-image: linear-gradient(rgba(50,50,50,0.1),rgba(50,50,50,0.2)), url(<%= cl_image_path r.photo.key, height: 300, width: 400, crop: :fill %>)">
          <%#= link_to c.name, cocktail_path(c) %>
      </div>
        <!-- <table class="index-ingredients">
          <tr>
            <#% c.ingredients.each do |i| %>
            <td><%#= i.name %></td>
            <#% end %>
          </tr>
        </table> -->
        <div class="index-ingredients">
          <%= link_to r.name, cocktail_path(r) %>
          <hr>
          <ul style="list-style-type: none; margin: 0; padding: 0;">
            <% r.ingredients.each do |i| %>
            <li><%= i.name %></li>
            <% end %>
          </ul>
        </div>
    </div>
    <!-- </>Ingredients</p> -->
  <% end %>
</div>
