<%= render "/cocktails/cocktail-banner" %>

<div class="new-dose">
<h1>Add dose</h1>

<%= simple_form_for [@cocktail, @dose ] do |f| %>
<!-- the below creates a dropdown of all the ingredients, and will assign the proper ID to the new Dose record  -->
  <%= f.association :ingredient, input_html: { class: 'ingredient-list' } %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
</div>
