<%= render "/cocktails/cocktail-banner" %>


<div class="review-container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :content, label: "What do you think of this cocktail" %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Add review" %>
      <% end %>
    </div>
  </div>
</div>
